/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

#project specifieke shizzle
app/config/database.php

#intelli shizzle
*.iml
.idea/

#laravel shizzle
_ide_helper.php
_ide_helper_models.php
public/packages/
vendor/