// Layout

.container {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	position: relative;
	@include box-sizing(border-box);
}

.pagination {
    display:none;
}

.hide{
  display: none !important;
}
#infscr-loading {
  display:none!important;
}

.md-trigger{
  cursor: pointer;
}