/* header
   ========================================================================== */

   header {
   	width: 100%;
   	height: 100%;
   	background: url(../images/background.jpg) center top no-repeat;
   	background-size: cover;
   	text-transform: uppercase;
   	text-align: center;
   	display: table;
   	
   	.container {
   		display: table-cell;
   		vertical-align: middle;
   		position: relative;

   			h1 {
   				font-size: 300%;

   				@media screen and (max-width: 440px) {
   					font-size: 200%;
   				}
   			}

   			h2 {
   				color: $red;
   				margin-bottom: 5px;

   				@media screen and (max-width: 440px) {
   					font-size: 120%;
   				}
   			}

   			em {
   				display: block;
   				margin-bottom: 20px;
   			}

            .logo {
               width: 100%;
               max-width: 324px;
            }

   		}

   	}
