// Section

section {
	width: 100%;
	min-height: 100%;
	background: $black;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px;
	@include box-sizing(border-box);
}

		.question {
            height: 260px;
			width: 100%;
			background: url(../images/background.jpg);
			background-size: cover;
			padding-top: 50px;
            background-attachment: fixed;
            background-position-y: -440px;
			@include box-sizing(border-box);

			h1 {
				text-align: center;
				margin-top: 0;
              &.compliment {
                font-size:48px;
              }
			}

			h3 {
				color: $red;
				margin-top: 35px;
				display:block;
				text-align: center;
			}


			.answers {
				max-width: 500px;
				width: 100%;
				margin: 0 auto;
                margin-top: 35px;
				overflow: hidden;

				.button {
					float: left;
					margin:0px 20px;

					&:last-of-type {
						float: right;
					}
				}
			}

		}